@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background: #6d67e4;
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
}

.logo img {
    display: block;
    object-fit: cover;
    width: 10%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.navbar nav li {
    list-style: none;
    margin-left: 1rem;
}

.navbar nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.7rem 0.6rem;
    border-radius: 6px;
    transition: all 0.4s ease-in;
}

.navbar nav li a:hover {
    background: #3498db;
    color: #fff;
}

.contact-form {
    margin-top: 50px;
    text-align: center;
}

.contact-form h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6d67e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #534fde;
}

@media(max-width: 562px) {
    .navbar nav {
        flex-direction: column;
    }

    .navbar nav li {
        margin: 1rem 0;
    }
}
