/* Import Josefin Sans font (replace URL with yours) */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
  background-color: #fafafa; /* Light gray background */
  color: #0d0d0d; /* Dark gray text */
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px;
  padding: 0;
}

.resume-container {
  width: 100%; /* Responsive layout */
  max-width: 768px; /* Set a maximum width */
  margin: 0 auto; /* Center the resume horizontally */
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Subtle shadow effect */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 30px;
}

.contact-info {
  text-align: left;
}

.contact-info h4,.contact-info a {
  color: #2c0b87; /* Lighter text color for contact info */
  font-size: 14px;
  margin: 5px 0;
}
a {
    color: green; /* Change link color to green */
  }
h1 {
  font-size: 32px;
  margin: 0;
}

main.content {
  display: flex; /* Use flexbox for layout sections */
  flex-wrap: wrap; /* Wrap sections on smaller screens */
}

section {
  flex: 1 1 auto; /* Sections take up equal space (adjust if needed) */
  margin-bottom: 20px;
  padding: 20px; /* Consistent padding for sections */
  border: 2px solid #d1cccc; /* Light border for sections */
  border-radius: 5px;
}

h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.skills-container,
.experience-container,
.projects-container {
  text-align: left; /* left text within sections */
}

.skills-list {
  list-style-type: style inherit;
  padding: 0;
  align-items: left;
  max-width: 300px; /* Limit width for responsiveness */
}

.skills-list li {
  margin-bottom: 5px;
  display: flex;
  align-items: left;
}

.skills-list li i {
  margin-right: 10px;
  color: #333; /* Use primary text color for icons */
  font-size: 16px;
  align-items: left;

}

.work-experience .experience-entry,
.projects .project-entry {
  margin-bottom: 15px; /* Spacing between experience/project entries */
}

.experience-details {
  margin-bottom: 10px; /* Spacing between title and description */
}

.experience-details h4,
.project-entry h3 {
  font-weight: bold;
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack contact info and name on smaller screens */
    align-items: left;
    ;
  }

  .contact-info {
    margin-bottom: 15px;
  }

  h1 {
    text-align: left; /* Center name on smaller screens */
  }

  section {
    margin-left: 0; /* Remove margin-left on smaller screens */
    margin-right: 0; /* Remove margin-right on smaller screens */
  }
}

/* Include Font Awesome icons (replace with your kit code) */